*
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.master, body
{
    height: 100%;
    margin: 0;
}

.header
{
    display: flex;
    align-items: center;
    justify-content: space;
    flex-direction: column;
    gap: 20px;
    background-color: beige;
    padding: 22px;
}

.text_header
{
    font-size: 50px;
}

.header_button
{
    display: flex;
    background-color: darkorange;
    border-radius: 7px;
    font-size: 15px;
    justify-content: space-around;
    align-items: center;
    padding: 4px;
}